<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="project (link)">
    <div class="card shadow-sm"
         th:style="'background-color: ' + ${project.getColorCode}">

        <div class="mt-2 mx-2">
            <div class="btn-toolbar float-end" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-edit" data-bs-toggle="modal"
                       href="#" th:data-bs-target="'#editProjectModal' + ${project.getId}"
                       type="button"><i
                            class="fas fa-pen"></i></a>
                </div>
                <div class="btn-group" role="group">
                    <form method="POST" th:action=" @{{path}/delete-project (path=${link})}">
                        <button class="btn btn-delete" type="submit"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <a th:href="${link}">
            <div class="card-body card-text sm" style="margin-top: 50px">
                <p th:text="${project.getId}"></p>
                <p th:text="${project.getName}"></p>
                <p th:text="'Timer: ' + ${project.calculateHours()}"></p>
                <p th:text="'Pris: ' + ${project.calculatePrice()} + ' DKK'"></p>
                <p th:text="'Estimerede arbejdsdage: ' + ${project.calculateWorkdays()}"></p>
                <p th:text="'Estimerede resourcer: ' + ${project.calculateResources()}"></p>
                <p th:text="'Start date: ' + ${project.getStartDate()}"></p>
                <p th:text="'End date: ' + ${project.getEndDate()}"></p>
            </div>
        </a>
    </div>

    <div aria-hidden="true" aria-labelledby="editProjectModalLabel" class="modal fade"
         tabindex="-1"
         th:id="'editProjectModal' + ${project.getId}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="'editProjectModalLabel' + ${project.getId}">Redigér project</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                            type="button"></button>
                </div>
                <form method="POST"
                      th:action="@{{path}/edit-project (path=${link})}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-form-label" th:for="'edit-project-name-' + ${project.getId}">Navn:</label>
                            <input class="form-control" name="edit-project-name"
                                   th:id="'edit-project-name-' + ${project.getId}" th:value="${project.getName}"
                                   type="text">
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label" th:for="'edit-project-start-date' + ${project.getId}">Start
                                dag:</label>
                            <input class="form-control" name="edit-project-start-date"
                                   th:id="'edit-project-start-date' + ${project.getId}"
                                   th:value="${project.getStartDate}"
                                   type="date">
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label" th:for="'edit-project-end-date' + ${project.getId}">Slut
                                dag:</label>
                            <input class="form-control" name="edit-project-end-date"
                                   th:id="'edit-project-end-date' + ${project.getId}" th:value="${project.getEndDate}"
                                   type="date">
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Farve:</label>
                            <select class="form-select" name="edit-project-color">
                                <option th:each="color : ${projectColors}"
                                        th:selected="${project.getColorCode}"
                                        th:style="'color: #fff; background-color: ' + ${color.value}"
                                        th:text="${color.key}"
                                        th:value="${color.value}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                            Luk
                        </button>
                        <button class="btn btn-primary" type="submit">Gem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</html>
