<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="project (link)">

    <a th:href="${link}">
        <div class="card shadow-sm"
             th:style="'background-color: ' + ${project.getColorCode}">
            <div class="card-body card-text sm" style="margin-top: 150px">
                <p th:text="${project.getName}"></p>
                <p th:text="'Timer: ' + ${project.calculateHours()}"></p>
                <p th:text="'Pris: ' + ${project.calculatePrice()} + ' DKK'"></p>
                <p th:text="'Estimerede arbejdsdage: ' + ${project.calculateWorkdays()}"></p>
                <p th:text="'Estimerede resourcer: ' + ${project.calculateResources()}"></p>
            </div>
        </div>
    </a>

</div>

</html>
