<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<div class="col" th:each="task : ${tasks}">
    <a href="#">
        <div class="card shadow-sm"
             th:style="'background-color: ' + ${parentproject.getColorCode}">
            <div class="card-body card-text card-text-size-sm">
                <p th:text="${task.getName}"></p>
                <p th:text="'Timer: ' + ${task.getHours}"></p>
                <p th:text="'Pris: ' + ${task.getPrice} + ' DKK'"></p>
                <p th:text="'Resource type: ' + ${task.resourceType.getName()}"></p>
            </div>
        </div>
    </a>
</div>

</html>

