<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<div class="col" th:each="task : ${tasks}">
    <a href="#">
        <div class="card shadow-sm"
             th:style="'background-color: ' + ${parentproject.getColorCode}">

            <div class="mt-2 mx-2">
                <div class="btn-toolbar float-end" role="toolbar">
                    <div class="btn-group" role="group">
                        <a class="btn btn-edit" data-bs-toggle="modal"
                           href="#" th:data-bs-target="'#editTaskModal' + ${task.getId}"
                           type="button"><i
                                class="fas fa-pen"></i></a>
                    </div>
                    <div class="btn-group" role="group">
                        <form method="POST" th:action="@{{path}/delete-task (path=${link})}">
                            <button class="btn btn-delete" type="submit"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="card-body card-text card-text-size-xxsm">
                <p th:text="${task.getName}"></p>
                <p th:text="'Timer: ' + ${task.getHours}"></p>
                <p th:text="'Pris: ' + ${task.getPrice} + ' DKK'"></p>
                <p th:text="'Resource type: ' + ${task.resourceType.getName()}"></p>
                <p th:text="'Estimerede arbejdsdage: ' + ${task.calculateWorkdays()}"></p>
                <p th:text="'Estimerede resourcer: ' + ${task.calculateResources()}"></p>
                <p th:text="'Start date: ' + ${task.getStartDate()}"></p>
                <p th:text="'End date: ' + ${task.getEndDate()}"></p>
            </div>
        </div>
    </a>
</div>

</html>

