<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/headFragment :: head (title=${parentproject.getName})"></head>

<body>
<nav th:replace="fragments/navFragment :: nav"></nav>

<nav class="container breadcrumb-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/projects}">Projekter</a></li>
        <li class="breadcrumb-item active" th:text="${parentproject.getName}"></li>
    </ol>
</nav>

<main>
    <div class="py-5 bg-light">
        <div class="container">
            <h1 th:text="${parentproject.getName}"></h1>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                        <h2>Underprojekter</h2>

                        <div class="col">
                            <a data-bs-target="#createSubprojectModal" data-bs-toggle="modal" href="#">
                                <div class="card shadow-sm card-btn">
                                    <div class="mt-2 mx-2 blur no-select">
                                        <div class="btn-toolbar float-end" role="toolbar">
                                            <div class="btn-group" role="group">
                                    <span class="btn btn-edit">
                                        <i aria-hidden="true" class="fas fa-pen" style="color: #000"></i>
                                    </span>
                                            </div>
                                            <div class="btn-group" role="group">
                                    <span class="btn btn-delete">
                                        <i aria-hidden="true" class="fas fa-trash-alt" style="color: #000"></i>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-text sm blur no-select"
                                         style="margin-top: 23px; color: #000">
                                        <p>Lorem ipsum</p>
                                        <p>Timer: 000.0</p>
                                        <p>Pris: 0000000 DKK</p>
                                        <p>Nødvendige arbejdsdage: 000,00</p>
                                        <p>Nødvendige antal medarbejdere: 00,00</p>
                                        <p>Start dato: 2020-01-01</p>
                                        <p>Slut dato: 2021-01-01</p>
                                        <p>Dage tilgængelige i perioden: 00</p>
                                    </div>
                                    <span class="btn-plus-icon"><i aria-hidden="true" class="fas fa-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col" th:each="project : ${projects}">
                            <div th:replace="fragments/projectFragment :: project (@{/projects/{projectId}/{subProjectId}(projectId=${parentproject.getId}, subProjectId=${project.getId()})})"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                        <h2>Opgaver</h2>
                        <div class="col">
                            <a data-bs-target="#taskModal" data-bs-toggle="modal" href="#">
                                <div class="card shadow-sm card-btn">
                                    <div class="mt-2 mx-2 blur no-select">
                                        <div class="btn-toolbar float-end" role="toolbar">
                                            <div class="btn-group" role="group">
                                    <span class="btn btn-edit">
                                        <i aria-hidden="true" class="fas fa-pen" style="color: #000"></i>
                                    </span>
                                            </div>
                                            <div class="btn-group" role="group">
                                    <span class="btn btn-delete">
                                        <i aria-hidden="true" class="fas fa-trash-alt" style="color: #000"></i>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-text sm blur no-select"
                                         style="margin-top: 23px; color: #000">
                                        <p>Lorem ipsum</p>
                                        <p>Timer: 000.0</p>
                                        <p>Pris: 0000000 DKK</p>
                                        <p>Resource type: Lorem ipsum dolor</p>
                                        <p>Nødvendige arbejdsdage: 000,00</p>
                                        <p>Nødvendige antal medarbejdere: 00,00</p>
                                        <p>Start dato: 2020-01-01</p>
                                        <p>Slut dato: 2021-01-01</p>
                                        <p>Dage tilgængelige i perioden: 00</p>
                                    </div>
                                    <span class="btn-plus-icon"><i aria-hidden="true" class="fas fa-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div th:replace="fragments/taskFragment :: task (@{/projects/{projectId} (projectId=${parentproject.getId})})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footerFragtment :: footer"></footer>

<div aria-hidden="true" aria-labelledby="createSubprojectModalLabel" class="modal fade"
     id="createSubprojectModal"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSubprojectModalLabel">Tilføj nyt underprojekt</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                        type="button"></button>
            </div>
            <form method="POST"
                  th:action="@{/projects/{projectId}/create-subproject (projectId=${parentproject.getId})}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label" for="create-subproject-name">Navn:</label>
                        <input class="form-control" id="create-subproject-name" name="create-subproject-name"
                               required type="text">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="create-subproject-start-date">Start dag:</label>
                        <input class="form-control" id="create-subproject-start-date"
                               name="create-subproject-start-date"
                               required type="date">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="create-subproject-end-date">Slut dag:</label>
                        <input class="form-control" id="create-subproject-end-date" name="create-subproject-end-date"
                               required type="date">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Farve:</label>
                        <select class="form-select" name="create-subproject-color" required>
                            <option th:each="color : ${projectColors}"
                                    th:style="'color: #fff; background-color: ' + ${color.value}"
                                    th:text="${color.key}"
                                    th:value="${color.value}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                        Luk
                    </button>
                    <button class="btn btn-primary" type="submit">Opret</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="editSubprojectModalLabel" class="modal fade"
     id="editSubprojectModal"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSubprojectModalLabel">Redigér nyt underprojekt</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                        type="button"></button>
            </div>
            <form method="POST"
                  th:action="@{/projects/{projectId}/edit-subproject (projectId=${parentproject.getId})}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label" for="edit-subproject-name">Navn:</label>
                        <input class="form-control" id="edit-subproject-name" name="edit-subproject-name"
                               required type="text">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="edit-subproject-start-date">Start dag:</label>
                        <input class="form-control" id="edit-subproject-start-date"
                               name="edit-subproject-start-date"
                               required type="date">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="edit-subproject-end-date">Slut dag:</label>
                        <input class="form-control" id="edit-subproject-end-date" name="edit-subproject-end-date"
                               required type="date">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Farve:</label>
                        <select class="form-select" name="edit-subproject-color" required>
                            <option th:each="color : ${projectColors}"
                                    th:selected="${parentproject.getColorCode == color.value}"
                                    th:style="'color: #fff; background-color: ' + ${color.value}"
                                    th:text="${color.key}"
                                    th:value="${color.value}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                        Luk
                    </button>
                    <button class="btn btn-primary" type="submit">Opret</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/taskModalFragment :: actinLink (@{/projects/{projectId}/create-task (projectId=${parentproject.getId})})"></div>

</body>
</html>
