<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/headFragment :: head (title=${project.getName})"></head>

<body>
<nav th:replace="fragments/navFragment :: nav"></nav>
<main>
    <div class="py-5 bg-light">
        <div class="container">
            <h1 th:text="${project.getName}"></h1>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                        <h2>Underprojekter</h2>
                        <div class="col">
                            <a data-bs-target="#subprojectModal" data-bs-toggle="modal" href="#">
                                <div class="card shadow-sm align-items-center justify-content-center card-btn">
                                    <div class="card-body card-text card-text-size-sm card-icon">
                                        +
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col" th:each="p : ${subprojects}">
                            <div th:replace="fragments/projectFragment :: link (@{/projects/{projectId}/{subProjectId}(projectId=${project.getId}, subProjectId=${p.getId})})"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                        <h2>Opgaver</h2>
                        <div class="col">
                            <a data-bs-target="#taskModal" data-bs-toggle="modal" href="#">
                                <div class="card shadow-sm align-items-center justify-content-center card-btn">
                                    <div class="card-body card-text card-text-size-sm card-icon">
                                        +
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div th:replace="fragments/taskFragment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footerFragtment :: footer"></footer>

<div aria-hidden="true" aria-labelledby="subprojectModalLabel" class="modal fade"
     id="subprojectModal"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subprojectModalLabel">Tilføj nyt underprojekt</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                        type="button"></button>
            </div>
            <form method="POST"
                  th:action="@{/projects/{projectId}/create-new (projectId=${project.getId})}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label" for="project-name">Navn:</label>
                        <input class="form-control" id="project-name" name="project-name" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="project-start-date">Start dag:</label>
                        <input class="form-control" id="project-start-date" name="project-start-date"
                               type="date">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="project-end-date">Slut dag:</label>
                        <input class="form-control" id="project-end-date" name="project-end-date"
                               type="date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                        Luk
                    </button>
                    <button class="btn btn-primary" type="submit">Opret</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="taskModalLabel" class="modal fade"
     id="taskModal"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">Tilføj ny opgave</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                        type="button"></button>
            </div>
            <form method="POST"
                  name="createTaskForm"
                  role="form" th:action="@{/projects/{projectId}/create-task (projectId=${project.getId})}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label" for="task-name">Navn:</label>
                        <input class="form-control" id="task-name" name="task-name" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="task-hours">Timer:</label>
                        <input class="form-control" id="task-hours" name="task-hours" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Resurcetype:</label>
                        <select class="form-select" name="task-resource-type">
                            <option th:each="resourceType : ${resourceTypes}" th:text="${resourceType.getName}"
                                    th:value="${resourceType.getName}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="task-start-date">Start dag:</label>
                        <input class="form-control" id="task-start-date" name="task-start-date"
                               type="date">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="task-end-date">Slut dag:</label>
                        <input class="form-control" id="task-end-date" name="task-end-date"
                               type="date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                        Luk
                    </button>
                    <button class="btn btn-primary" type="submit">Opret</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
