<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/headFragment :: head (title=${project.getName()})"></head>

<body>
<nav th:replace="fragments/navFragment :: nav"></nav>
<main>
    <div class="py-5 bg-light">
        <div class="container">
            <h1 th:text="${project.getName}"></h1>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                        <h2>Underprojekter</h2>
                            <div th:replace="fragments/projectFragment"></div>
                        <div class="col">
                            <a data-bs-target="#exampleModal" data-bs-toggle="modal" href="#">
                                <div class="card shadow-sm align-items-center justify-content-center card-btn">
                                    <div class="card-body card-text card-text-size-sm card-icon">
                                        +
                                    </div>
                                </div>
                            </a>

                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                 id="exampleModal"
                                 tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nyt underprojekt</h5>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <form method="POST"
                                              th:action="@{/projects/{projectId}/create-new (projectId=${project.getId})}">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label class="col-form-label" for="name">Navn:</label>
                                                    <input class="form-control" id="name" name="name" type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label" for="start-date">Start dag:</label>
                                                    <input class="form-control" id="start-date" name="start-date"
                                                           type="date">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="col-form-label" for="end-date">Slut dag:</label>
                                                    <input class="form-control" id="end-date" name="end-date"
                                                           type="date">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                                    Luk
                                                </button>
                                                <button class="btn btn-primary" type="submit">Opret</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
                        <h2>Opgaver</h2>
                        <div th:replace="fragments/taskFragment"></div>
                        <div class="col">
                            <a href="#">
                                <div class="card shadow-sm align-items-center justify-content-center card-btn">
                                    <div class="card-body card-text card-text-size-sm card-icon">
                                        + <!-- TODO change to icon -->
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footerFragtment :: footer"></footer>
</body>
</html>
