<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head (title=${subProject.getName})"></head>
<body>
<nav th:replace="fragments/navFragment :: nav"></nav>

<nav class="container breadcrumb-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/projects}">Projects</a></li>
        <li class="breadcrumb-item active"><a th:href="@{/projects/{projectId} (projectId=${parentProject.getId})}"
                                              th:text="${parentProject.getName}"></a></li>
        <li class="breadcrumb-item active" th:text="${subProject.getName}"></li>
    </ol>
</nav>

<main>
    <div class="py-5 bg-light">
        <div class="container">
            <h1 th:text="${subProject.getName}"></h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="col">
                    <a data-bs-target="#taskModal" data-bs-toggle="modal" href="#">
                        <div class="card shadow-sm align-items-center justify-content-center card-btn">
                            <div class="card-body card-text card-text-size-sm card-icon">
                                +
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col" th:each="task : ${tasks}">

                    <div class="card shadow-sm"
                         th:style="'background-color: ' + ${subProject.getColorCode}">
                        <div class="mt-2 mx-2">
                            <div class="btn-toolbar float-end" role="toolbar">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-edit" data-bs-toggle="modal"
                                       href="#" th:data-bs-target="'#editTaskModal' + ${task.getId}"
                                       type="button"><i
                                            class="fas fa-pen"></i></a>
                                </div>
                                <div class="btn-group" role="group">
                                    <form method="POST" th:action="@{{path}/delete-task (path=${link})}">
                                        <button class="btn btn-delete" type="submit"><i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <a href="#">
                            <div class="card-body card-text card-text-size-xxsm">
                                <p th:text="${task.getName}"></p>
                                <p th:text="'Timer: ' + ${task.getHours}"></p>
                                <p th:text="'Pris: ' + ${task.getPrice} + ' DKK'"></p>
                                <p th:text="'Resource type: ' + ${task.resourceType.getName()}"></p>
                                <p th:text="'Estimerede arbejdsdage: ' + ${task.calculateWorkdays()}"></p>
                                <p th:text="'Estimerede resourcer: ' + ${task.calculateResources()}"></p>
                                <p th:text="'Start date: ' + ${task.getStartDate()}"></p>
                                <p th:text="'End date: ' + ${task.getEndDate()}"></p>
                            </div>
                        </a>
                    </div>

                    <div aria-hidden="true" class="modal fade" tabindex="-1"
                         th:aria-labelledby="'editTaskModalLabel' + ${task.getId}"
                         th:id="'editTaskModal' + ${task.getId}">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:id="'editTaskModalLabel' + ${task.getId}">Redigér
                                        opgave</h5>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <form method="POST"
                                      th:action="@{/projects/{projectId}/{subprojectId}/edit-task (projectId=${parentProject.getId}, subprojectId=${subProject.getId})}">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="col-form-label" th:for="'edit-task-name-' + ${task.getId}">Navn:</label>
                                            <input class="form-control" name="edit-task-name"
                                                   th:id="'edit-task-name-' + ${task.getId}" th:value="${task.getName}"
                                                   type="text">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" th:for="'edit-task-hours-' + ${task.getId}">Timer:</label>
                                            <input class="form-control" name="edit-task-hours"
                                                   th:id="'edit-task-hours-' + ${task.getId}"
                                                   th:value="${task.getHours}"
                                                   type="text">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label">Resurcetype:</label>
                                            <select class="form-select" name="edit-task-resource-type">
                                                <option th:each="resourceType : ${resourceTypes}"
                                                        th:selected="${task.resourceType.getName == resourceType.getName}"
                                                        th:text="${resourceType.getName}"
                                                        th:value="${resourceType.getName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" for="edit-task-start-date">Start dag:</label>
                                            <input class="form-control" id="edit-task-start-date"
                                                   name="edit-task-start-date"
                                                   th:value="${task.getStartDate}" type="date">
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label" for="edit-task-end-date">Slut dag:</label>
                                            <input class="form-control" id="edit-task-end-date"
                                                   name="edit-task-end-date"
                                                   th:value="${task.getEndDate}" type="date">
                                        </div>
                                        <input hidden name="task-id" th:value="${task.getId}"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Luk
                                        </button>
                                        <button class="btn btn-primary" type="submit">Gem</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footerFragtment :: footer"></footer>
<div th:replace="fragments/taskModalFragment :: actinLink (@{/projects/{projectId}/{subProjectId}/create-task (projectId=${parentProject.getId}, subProjectId=${subProject.getId})})"></div>
</body>
</html>
