<!DOCTYPE html>
<html lang="da" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head (title=${subProject.getName})"></head>
<body>
<nav th:replace="fragments/navFragment :: nav"></nav>

<nav class="container breadcrumb-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/projects}">Projects</a></li>
        <li class="breadcrumb-item active"><a th:href="@{/projects/{projectId} (projectId=${parentProject.getId})}" th:text="${parentProject.getName}"></a></li>
        <li th:text="${subProject.getName}" class="breadcrumb-item active"></li>
    </ol>
</nav>

<main>
    <div class="py-5 bg-light">
        <div class="container">
            <h1 th:text="${subProject.getName}"></h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                <div class="col">
                    <a data-bs-target="#taskModal" data-bs-toggle="modal" href="#">
                        <div class="card shadow-sm align-items-center justify-content-center card-btn">
                            <div class="card-body card-text card-text-size-sm card-icon">
                                +
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col" th:each="task : ${tasks}">
                    <a href="#">
                        <div class="card shadow-sm"
                             th:style="'background-color: ' + ${subProject.getColorCode}">
                            <div class="card-body card-text card-text-size-xxsm">
                                <p th:text="${task.getName}"></p>
                                <p th:text="'Timer: ' + ${task.getHours}"></p>
                                <p th:text="'Pris: ' + ${task.getPrice} + ' DKK'"></p>
                                <p th:text="'Resource type: ' + ${task.resourceType.getName()}"></p>
                                <p th:text="'Estimerede arbejdsdage: ' + ${task.calculateWorkdays()}"></p>
                                <p th:text="'Estimerede resourcer: ' + ${task.calculateResources()}"></p>
                                <p th:text="'Start date: ' + ${task.getStartDate()}"></p>
                                <p th:text="'End date: ' + ${task.getEndDate()}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footerFragtment :: footer"></footer>
<div th:replace="fragments/taskModalFragment :: actinLink (@{/projects/{projectId}/{subProjectId}/create-task (projectId=${parentProject.getId}, subProjectId=${subProject.getId})})"></div>
</body>
</html>
