<!DOCTYPE html>

<html lang="da" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head (title=${Task.getName})"></head>

<body>
<nav th:replace="fragments/navFragment :: nav"></nav>
<main>

<div class="card">
    <div>
        <p th:text="${Task.getName()}">Name</p>
        <p th:text="${Task.getHours()}">Hours</p>
        <p th:text="${Task.getPrice()}">Price</p>
        <p th:text="${Task.getResourceType().getName()}">REsource type</p>
        <p th:text="${Task.getStartDate()}">start date</p>
        <p th:text="${Task.getEndDate()}">end date</p>
    </div>
</div>

<form  method="post" role="form" name="createTaskForm" action="/create-task">
    <div class="card" style="border: black solid 2px; border-radius: 10px">
        <table>
            <thead>
            <th>
                <p>TASK NAME</p>
            </th>
            <th>
                <p>hours </p>
            </th>
            <th>
                <p>Resource type</p>
            </th>
            <th>
                <p>start date</p>
            </th>
            <th>
                <p>end date</p>
            </th>
            </thead>
            <td>
                <input placeholder="TASK NAME" name="task_name">
            </td>
            <td>
                <input placeholder="Hours" type="text" name="task_hours">
            </td>
            <td>
                <select name="task_resourcetype">
                    <option th:each="resourceType : ${ResourceTypeList}" th:value="${resourceType.getName()}" th:text="${resourceType.getName()}"></option>
                </select>
            </td>
            <td>
                <input placeholder="start date" type="date" name="task_startdate">
            </td>
            <td>
                <input placeholder="End date" type="date" name="task_enddate">
            </td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </table>
    </div>
</form>
</main>
<footer th:replace="fragments/footerFragtment :: footer"></footer>
</body>
</html>
